.select-before {
   min-width: 125px;
}
.searchBox_label {
   font-weight: 600;
   margin-bottom: 8px;
}

.searchBox {
   margin: auto;
   margin-top: -25px;
   max-width: 500px;
   text-align: left;
   float: left;
}